<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- 从profiles文件获取property -->
    <springProperty scope="CONTEXT" name="logDir" source="logging.file.path" defaultValue="default-application" />

    <property name="pattern-color" value="%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %red(%logger{50}) - %msg %n"/>


    <appender name="InfoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <File>${logDir}/info.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/info/info.%d{yyyy-MM-dd}-%i-log.zip</fileNamePattern>
            <maxHistory>20</maxHistory>
            <maxFileSize>300MB</maxFileSize>
        </rollingPolicy>
        <encoder>　　　　　　　　
            <pattern>${pattern-color}</pattern>　　　
        </encoder>　
    </appender>

    <appender name="ErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <File>${logDir}/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/error/error.%d{yyyy-MM-dd}-%i-log.zip</fileNamePattern>
            <maxHistory>20</maxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <encoder>　　　　　　　　
            <pattern>%date [%thread] %-5level %logger{35} - %msg %n</pattern>　　　
        </encoder>　
    </appender>

<!--    async write log-->
    <appender name = "asyncErrorAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1024</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="ErrorFile"/>
    </appender>

    <appender name = "asyncInfoAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1024</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="InfoFile"/>
    </appender>


    <springProfile name="dev">
        <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">　　　　　
            <encoder>　　　　　　　　
                <pattern>${pattern-color}</pattern>　　　
            </encoder>　
        </appender>
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="InfoFile"/>
            <appender-ref ref="ErrorFile"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="InfoFile"/>
            <appender-ref ref="ErrorFile"/>
        </root>
    </springProfile>


</configuration>
